.LandingPage {
  min-height: 100vh;
  max-width: 1700px;
  border-left: 10px solid #222;
  background: #262727;
  margin: 0 auto;
  .bx--btn--primary {
    background: #711dfa;
    &:hover {
      background: #8135fd;
    }
  }
  > header {
    padding: 1rem 2rem;
    padding-left: 10rem;
    @media screen and (max-width: 1000px) {
      padding-left: 4rem;
    }
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    > nav {
      display: flex;
      gap: 1rem;
    }
    .of-menu {
      display: none;
    }
    @media screen and (max-width: 740px) {
      .bx--tooltip__label {
        display: none;
      }
    }
    @media screen and (max-width: 400px) {
      .of-menu {
        display: block;
      }
      .bx--btn {
        display: none;
      }
    }
    > h1 {
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      p {
        font-size: 0.85rem;
      }
    }
  }
  main,
  footer {
    padding: 2rem 10rem;
  }
  main {
    @media screen and (max-width: 1000px) {
      padding-left: 4rem;
    }
    @media screen and (max-width: 600px) {
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }
  footer {
    background: #222223;
    p {
      margin-bottom: 1rem;
    }
  }
}
